@import "tailwindcss";




html,
body,
#root {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3cc;
  overflow-x: hidden;
}